body{
	background: url("images/plaid.jpg");
}

.headingLayout{
	height: 120.8px;
	
}
p#name{
	width : 700px;
}
a{
	margin-left: 100px;
}
div.items{
	width: 30%;
    line-height: 36px; 
}

#name{
	font-family: Pacifico;
	text-align: center;
	font-size: 40px;
    color: black;	
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
ul#horizontal-list li {
		display: inline;
	}